body { width: 100%;
	   height: auto;
	   margin: 5px;
	   padding: 3px;
	   word-wrap: break-word;
	   background-color: #406229;
	 }

p {
	color: #FFFFFF;
}

a:link {
	color: #c7dfb7;
}

a:visited {
	color: #c7dfb7;
}

.responsive {
	display: grid;
	grid-template-areas:
		"title"
		"image"
		"info"
		"title2"
		"bitcoin_qr"
		"ethereum_qr"
		"footer"
}

.title {
	grid-area: title;
	text-align: center;
}

.image {
	grid-area: image;
	margin: auto;
}

.info {
	grid-area: info;
	text-align: center;
	margin: auto;
}

.title2 {
	grid-area: title2;
	text-align: center;
}

.bitcoin_qr {
	grid-area: bitcoin_qr;
	text-align: center;
	word-wrap: break-word;
	margin: auto;
}

.ethereum_qr {
	grid-area: ethereum_qr;
	text-align: center;
	margin: auto;
	word-wrap: break-word;
}

.footer {
	grid-area: footer;
	text-align: center;
}

.responsive h1 {
	text-align: center;
 	color: #fcddcf;
}

.responsive h2 {
 	color: #fcddcf;
}

@media screen and (min-width: 900px) {

	body {
		width: 60%;
		height: auto;
		margin: auto;
	}

	.responsive {
		display: grid;
		grid-template-areas:
			"title title"
			"info image"
			"title2 title2"
			"bitcoin_qr ethereum_qr"
			"footer footer"
	}

	.info {
		grid-area: info;
		text-align: justify;
		word-wrap: break-word;
	}
}
